.docs-container {
    padding-right: 10%;
    padding-left: 10%;
}

.summary {
    position: fixed;
    font-size: 14px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 1%;
    margin-right: 2%;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}

.summary>div {
    border-bottom: 1px solid #A51C15;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.summary>span,
.summary>span>span {
    display: block;
}

.summary>span {
    margin-left: 15px;
}

.summary>span>span {
    margin-left: 30px;
    font-size: 12px;
}

.summary>span:before,
.summary>span>span:before {
    content: '/ ';
}

.cmd-search {
    background-color: #A51C15;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.cmd-search-input {
    background: transparent;
    border: 0px solid black;
    border-bottom: 1px solid white;
    margin-left: 10px;
}

.cmd-search-input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

#searchResult {
    margin-left: 75px;
}

.commands {
    background-color: #2c2f34;
    padding: 1%;
    color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-bottom: 5px;
}

.cmd-module-name {
    background-color: #A51C15;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 13px;
    margin-left: 5px;
    text-transform: uppercase;
}

.docs-column {
    border-right: 1px solid #eeeeee;
}

.command {
    background-color: #262828;
    border-left: 3px solid #A51C15;
    padding: 1%;
    margin-bottom: 1%;
    color: white;
    border-radius: 3px;
}

.tag {
    background-color: #EDEDED;
    border-left: 3px solid #A51C15;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
}

.command>div>code {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.command>u {
    font-size: large;
}

.fabTop {
    bottom: 0;
    right: 0;
    position: fixed;
    width: 56px;
    height: 56px;
    color: white;
    font-size: 30px;
    background-color: #A51C15;
    border-radius: 9999px;
    box-shadow: 0 0 5px #333333;
    margin: 10px;
    border: 2px solid #A51C15;
    z-index: 999;
    outline-width: 0;
}

.content-img {
    width: 100%;
    max-width: 500px;
    display: block;
    box-shadow: 0 0 5px #333333;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #333333;
    border-left: 3px solid #A51C15;
    border-radius: 3px;
}

input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.nsfw-checkbox {
    display: inline-block;
    margin-left: 10px;
}

.nsfw-checkbox>label {
    background: transparent;
    border-radius: 3px;
    border: 2px solid white;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-indent: 30px;
    line-height: 24px;
}

.nsfw-checkbox>label:after {
    position: absolute;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    content: "";
    width: 14px;
    height: 6px;
    transform: rotate(-45deg);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    left: 4px;
    top: 5px;
    opacity: 0;
}

#nsfw-checkbox:checked~label {
    background: #a51c15;
}

#nsfw-checkbox:checked~label:after {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .summary {
        display: none;
    }

    .docs-container {
        padding-right: 5%;
        padding-left: 5%;
    }

    .docs-column {
        border-right: none;
    }

    .commands {
        padding: 2%;
    }

    .command {
        padding: 2%;
    }

    #searchResult {
        display: none;
    }
}